input {
    height: 4.4rem;
    padding: 1.1rem 1.6rem;
    border: thin solid $gray-400;
    border-radius: $border-radius;
    font-size: 1.4rem;
    line-height: 1.5;

    &::placeholder {
        color: $gray-600;
        
    }

    &:focus {
        border-color: rgba(255, 63, 58, 0.4);
        box-shadow: 0 8rem 8rem -2rem rgba(255, 63, 58, 0.08), 
                    0 3rem 2.4rem -1rem rgba(255, 63, 58, 0.05), 
                    0 1.2rem 1rem -.6rem rgba(255, 63, 58, 0.04), 
                    0 .4rem .4rem -.4rem rgba(30, 33, 44, 0.03);
    }
}

.input-lg {
    height: 5.2rem;
    padding-bottom: 1.3rem;
    padding-top: 1.3rem;
    font-size: 1.6rem;
    line-height: 1.6;

    @media (max-width: $desktop){
        height: 4.4rem;
        padding: 1.1rem 1.6rem;
        font-size: 1.4rem;
    }

    @media (max-width: $mobile){
        height: 3.6rem;
        padding: .9rem 1.2rem;
        font-size: 1.2rem;
    }
}

.input-sm {
    height: 3.6rem;
    padding: .9rem 1.2rem;
    font-size: 1.2rem;
}