.member-card {
    &:hover {
        .member-card__img:before {
            opacity: 1;
        }

        .member-card__social {
            opacity: 1;
            visibility: visible;
        }
    }    
}

.member-card__img {
    position: relative;
    height: 34rem;
    background-color: $yellow;
    border-radius: $border-radius;
    text-align: center;

    &:before {
        content: "";
        display: block;
        background-image: linear-gradient(180deg, rgba($color: $gray-900, $alpha: 0) 43.9%, 
                                                  rgba($color: $gray-900, $alpha: 0.03) 55.21%, 
                                                  rgba($color: $gray-900, $alpha: 0.33) 68.73%, 
                                                  rgba($color: $gray-900, $alpha: 0.56) 76.17%, 
                                                  rgba($color: $gray-900, $alpha: 0.768225) 83.75%, 
                                                  rgba($color: $gray-900, $alpha: 0.92) 91.49%, 
                                                  $gray-900 100%);
        opacity: 0;                                          
        transition: opacity .3s;
                                               
        @include absolute($top: 0, $left: 0);
        @include size(100%);
    }

    img {
        display: inline-block;
        height: calc(100% - 2rem);
        margin-top: 2rem;
    }
}

.member-card__social {
    display: flex;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
    
    @include absolute($right: 2rem, $bottom: 2rem);

    [class^='icon'] {
        padding: 0 .6rem;
        text-decoration: none;

        &:focus:before,
        &:hover:before {
            color: $white;
        }

        &:before {
            color: rgba($color: $white, $alpha: .6);
        }
    }    
}

.member-card__info {
    margin-top: 1.6rem;
    text-align: center;
}

.member-card__name {
    color: $gray-800;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}

.member-card__position {
    margin-top: .4rem;
    color: $gray-700;
    line-height: 1.6;
}