@import './fonts';
@import './icons';
@import './variables';
@import './mixins';
@import './reset.scss';

* {
    box-sizing: border-box;
    font-family: $font-family;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: $max-width-container;
    padding: 0 $container-padding;

    @media (max-width: $desktop) {
        max-width: 1050rem;
    }

    @media (max-width: $tablet) {
        max-width: 810rem;
    }

    @media (max-width: $mobile) {
        max-width: none;
        padding: 0 1.6rem;
    }
}

@import '../components/main';