.swiper__top-controls {
    margin-top: -6rem;
    padding-top: 11.6rem;

    @media (max-width: $tablet) {
        margin-top: -4rem;
        padding-top: 6.6rem; 
    }

    [class^="swiper-button"] {        
        right: 0;
        top: 4.8rem; 
        
        @media (max-width: $tablet) {
            top: 2.8rem;
        }
    }

    .swiper-button-prev {
        left: auto;
        right: 4.8rem;
    }
}


[class^="swiper-button"] {
    &:before {
        content: "";
        background-color: $red;
        border-radius: 50%;
        z-index: -1;
        transition: transform .3s;

        @include center();
        @include size(.1rem);
    }

    &:after {
        color: $gray-900;
        font-size: 1.2rem;
    }

    &:focus,
	&:hover,
	&:active {
        &:before {
            transform: scale(48);

            @media (max-width: $mobile) {
                transform: scale(40);
            }
        }
    }
}


.swiper-button-next {
    right: 1.2rem;
    
    &:after {
        content: "\e90a";
    
        @extend %ic;
    }
}

.swiper-button-prev:after {
    content: "\e908";

    @extend %ic;
}

.swiper-pagination-bullet {
    padding: 0;
    background-color: $gray-500;
    border-radius: 0;

    @include size(3rem, .3rem);

    &-active {
        background-color: $gray-800;
    }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: .6rem;
    margin-right: .6rem;
}