extends ../layout/page.pug
include ../components/header/header.pug

block vars
    - var pageTitle = 'CreateX School'
block content
    +header()
    main
        include ../components/cta-block/cta-block.pug

