extends ../layout/page.pug
include ../components/common/header/header.pug

block vars
    - var pageTitle = 'CreateX School'
block content
    +header()
    main
        include ../components/cta-block/cta-block.pug
        include ../components/why-block/why-block.pug
        include ../components/featured-courses/featured-courses.pug

