.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include centerX();
    @include size(100%, $header-height);

    @media (max-width: $desktop) {
        height: $header-height-tablet;
    }

    @media (max-width: $mobile) {
        height: $header-height-mobile;
    }
    
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.header__logo img {
    @media (max-width: $desktop) {
        width: 10rem;
    }

    @media (max-width: $mobile-sm) {
        width: 8rem;
    }
}

.header__menu {
    display: flex;
    gap: 4rem;
    margin: 0 4rem 0 6rem;

    @media (max-width: $desktop) {
        gap: 2rem;
        margin: 0 2rem 0 4rem;
    }

    @media (max-width: $mobile) {
        display: none;
    }
}

.header__menu-link,
.header__burger-link {
    color: $gray-800;
    font-size: 1.6rem;
    font-weight: 600;    
    text-decoration: none;
    white-space: nowrap;
    transition: .3s;    

    &.active,
    &:hover,
    &:focus {
        color: $red;
    }
}

.header__menu-link {
    @media (max-width: $desktop) {
        font-size: 1.4rem;
    }
}

.header__burger-link {
    @media (max-width: $mobile) {
        font-size: 2rem;
        font-weight: 800;
    }
}

.header__burger {
    display: none;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    z-index: 2;
    margin-right: 1.2rem;
    padding: 0;
    background-color: transparent;
    border: none;    
    font-size: 0;    

    @include size(3.2rem, 3.6rem);

    @media (max-width: $mobile) {
        display: block;
    }

    &:before,
    &:after,
    span {
        display: block; 
        transform: rotate(0deg);
        transition: transform .25s ease-in-out;       
        background-color: $gray-800;
        border-radius: .4rem;
        opacity: 1;        
        
        @include size(100%, .4rem);
        @include absolute($left: 0);
    }

    &:before,
    &:after {
        content: "";
    }
    
    &:before {
        top: .8rem;
        transform-origin: left center;
    }
    
    &:after {
        bottom: .8rem;
        transform-origin: left center;
    }
    
    span {
        top: calc(50% - .2rem);
        transform-origin: left center;
    }

    &.show {
        span {
            width: 0%;
            opacity: 0;
        }
        
        &:before {
            top: .4rem;
            transform: rotate(45deg);
            background-color: $gray-800;
        }
        
        &:after {
            bottom: .5rem;
            transform: rotate(-45deg);
            background-color: $gray-800;
        }
    }
}

.header__burger-menu {
    transition: right 1s;
    z-index: 1;
    padding: 4.8rem 0 2rem;
    text-align: center;
    background-color: $white; 
    
    @include absolute($top: 0, $right: 100%);
    @include size(100%, 100vh);

    &.show {
        right: 0;
    }

    > li {
        padding: 1rem 0;
    }
}

.header__btns {
    display: flex;
    white-space: nowrap;

    .btn-text {
        margin-left: 3.6rem;
        padding: 0;

        @media (max-width: $desktop) {
            margin-left: 2rem;
        }

        @media (max-width: $tablet) {
            font-size: 1.8rem;
        } 

        @media (max-width: $mobile) {
            margin-left: 1rem;
        }

        .btn-title {
            @media (max-width: $tablet) {
                display: none;
            } 
        }
    }
}