.why-block {
    display: flex;
    padding-bottom: 18rem;
    padding-top: 18rem;

    @media (max-width: $desktop) {
        padding-bottom: 10rem;
        padding-top: 10rem;
    }

    @media (max-width: $tablet) {
        flex-direction: column;
        padding-bottom: 6rem;
        padding-top: 6rem;
    }
}

.why-block__img {
    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        
        @media (max-width: $tablet) {
            max-height: 40rem;
            width: auto;
        }

        @media (max-width: $mobile) {
            max-height: none;
            width: 100%;
        }
    }
}

.why-block__info {
    margin-left: 13.5rem;

    @media (max-width: $desktop) {
        margin-left: 8rem;
    }

    @media (max-width: $tablet) {
        margin-left: 0;
        margin-top: 3.2rem;
    }
}

.why-block__list {
    margin-bottom: 2.2rem;
    margin-top: 4rem;

    @media (max-width: $desktop) {
        margin-top: 2.4rem;
    }
}

.why-block__list-item {
    position: relative;
    padding-left: 3.2rem;
    line-height: 1.6;

    &:before {
        content: "\e920";

        @extend %ic;
        @include absolute($left: 0, $top: .6rem);
    }

    + .why-block__list-item {
        margin-top: 1.2rem;
    }
}