include ../common/block-title/block-title.pug
include ../common/buttons/buttons.pug

section.benefits.container
    +block-title("That’s how we do it", "Our benefits", "center")
    .benefits__tabs.js-tabs
        +link-button('Experienced Tutors', '#tutors', 'icon-star', 'left').btn-text.active
        +link-button('Feedback & Support', '#feedback', 'icon-like', 'left').btn-text
        +link-button('24/7 Online Library', '#library','icon-layouts', 'left').btn-text
        +link-button('Community', '#community', 'icon-chat', 'left').btn-text
    .benefits__tab-content(id='tutors').js-tab-content 
        .benefits__tab-info
            h3 Only practicing tutors
            p.benefits__tab-info-text 
                |Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames dictum suspendisse. 
                |Morbi mauris cras massa ut dolor quis sociis mollis augue. Nunc, sodales tortor sit diam mi amet massa. 
                |Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id dignissim massa ut amet. 
                |Amet enim, nisi tempus vehicula. 
        .benefits__img 
            img(src="@img/benefits-img.png" alt="Benefits image") 